/* line 5, /myapp/app/assets/stylesheets/players.css.scss */
.even {
  background: lightgrey;
}

/* line 9, /myapp/app/assets/stylesheets/players.css.scss */
.odd {
  background: white;
}

/* line 13, /myapp/app/assets/stylesheets/players.css.scss */
th, tr, td {
  border: 1px solid black;
  text-align: center;
}

/* line 18, /myapp/app/assets/stylesheets/players.css.scss */
table {
  border-collapse: collapse;
}
