/* line 7, /myapp/app/assets/stylesheets/home.css.scss */
.home #draft table {
  width: 800px;
  border-collapse: collapse;
}
/* line 12, /myapp/app/assets/stylesheets/home.css.scss */
.home #draft tr, .home #draft td, .home #draft th {
  border: 1px solid black;
  text-align: center;
  height: 20px;
}
/* line 18, /myapp/app/assets/stylesheets/home.css.scss */
.home #draft th {
  text-align: center;
  background-color: lightgrey;
}
/* line 23, /myapp/app/assets/stylesheets/home.css.scss */
.home #draft td {
  width: 25%;
}
/* line 29, /myapp/app/assets/stylesheets/home.css.scss */
.home #cap_things table {
  width: 100px;
}
/* line 34, /myapp/app/assets/stylesheets/home.css.scss */
.home .whose_pick {
  width: 40px;
}
/* line 40, /myapp/app/assets/stylesheets/home.css.scss */
.home #powerplay a {
  color: black;
}
/* line 42, /myapp/app/assets/stylesheets/home.css.scss */
.home #powerplay a.link {
  color: black;
}
/* line 43, /myapp/app/assets/stylesheets/home.css.scss */
.home #powerplay a.visited {
  color: black;
}
/* line 44, /myapp/app/assets/stylesheets/home.css.scss */
.home #powerplay a.hover {
  color: black;
}
/* line 45, /myapp/app/assets/stylesheets/home.css.scss */
.home #powerplay a.active {
  color: black;
}
